<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <hi>This is the home page 1+2</hi>
    <h3><%= "apna college".toUpperCase() %></h3>
    <h3><%= ["hello","bonjour","namaste"][0] %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, doloremque voluptatem id officiis sint debitis doloribus explicabo soluta quis mollitia maiores aspernatur quo ipsam culpa, corrupti impedit, exercitationem eveniet asperiores amet numquam dolorum labore autem dolorem. A beatae itaque impedit voluptatibus, nobis modi? Perspiciatis explicabo, sapiente ex aliquid officia laudantium dolorem fugiat voluptates dolor, ducimus ullam quis neque qui! Nesciunt corporis reiciendis dolorum possimus distinctio praesentium perferendis voluptate minus sed, atque fuga repudiandae voluptatem quidem debitis labore eius assumenda consectetur impedit sapiente ipsa consequuntur provident ad obcaecati esse. Impedit repellendus debitis possimus rerum consequatur temporibus aliquam e
        xplicabo provident! Deleniti, accusantium?</p>
        <button>Click me!</button>
</body>
</html>